.typewriter {
  font-size: 24px;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  animation:
    typing 3.5s steps(10) infinite,
    blink-caret .5s step-end infinite;
}

.typewriter-once {
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  animation:
    typing 3s steps(20),
    blink-caret .85s step-end infinite;
}

.waveBar {
  width: 6px;
  background-color: #3b82f6;
  border-radius: 2px;
  animation: heightWave 1s infinite ease-in-out;
}

@keyframes heightWave {
  0%, 100% { 
    height: 25%; 
  }
  50% { 
    height: 95%; 
  }
}

/* 定义打字动画 */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* 定义光标闪烁动画 */
@keyframes blink-caret {

  from,to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

/* antd样式覆盖 */
.dark-mode {
  .ant-pagination-prev, .ant-pagination-next  {
    .ant-pagination-item-link {
      @apply text-white !important;
    }
  }
  .ant-pagination-item {
    @apply border-none rounded-md min-w-8 h-8 flex items-center justify-center !important;
  }

  .ant-pagination-item a {
    @apply text-gray-700 no-underline w-full h-full flex items-center justify-center;
  }

  .ant-pagination-item:not(.ant-pagination-item-active):hover {
    @apply bg-slate-300 !important;
  }

  .ant-pagination-item-active {
    @apply bg-slate-500 !important;
  }

  .ant-pagination-item-active a {
    @apply text-white !important;
  }
}


::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE / Edge */
body {
  -ms-overflow-style: none;
}

@import './theme/primary.css';
@import './theme/hot.css';
@import './theme/cool.css'

